#crimes_table {
  display: none;
  table-layout: fixed;
  overflow-y: scroll;
  max-height: 70vh;
  width: 100%;
  position: relative;
  top: 20px;
  border-collapse: collapse;
}

#crimes_table button {
  font-weight: 600;
  padding: 10px;
  margin-top: 10px;
}

thead {
  margin-top: 20px;

  background-color: var(--admin);
  width: 100%;
  position: sticky;
  top: 0;
}

th {
  padding: 5px;
}

td {
  width: 33%;
}

tbody {
  width: 100%;
}

.active {
  background-color: var(--success-green);
}

.deactivated {
  background-color: var(--error-red);
}

form {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
form input,
textarea {
  margin-top: 10px;
  width: 30%;
}

form label {
  margin-top: 10px;
}

form input[type="submit"] {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: var(--admin);
  cursor: pointer;
}

#add {
  border-radius: 8px;
  font-size: 1.2rem;
  float: right;
  background-color: var(--success-green);
  padding: 10px;
  border: none;
}
