#crimes_table {
  display: none;
}

.active {
  background-color: var(--success-green);
}

.deactivated {
  background-color: var(--error-red);
}

form {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
form input,
textarea {
  margin-top: 10px;
  width: 30%;
}

form label {
  margin-top: 10px;
}

form input[type="submit"] {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: var(--admin);
  cursor: pointer;
}

#add {
  border-radius: 8px;
  font-size: 1.2rem;
  float: right;
  background-color: var(--success-green);
  padding: 10px;
  border: none;
}
