#police_table {
  display: none;
}

#police_table button {
  font-weight: 600;
  padding: 10px;
}

.isAdmin {
  background-color: var(--admin);
}

.isRegular {
  background-color: var(--no-admin);
}

.active {
  background-color: var(--success-green);
}

.deactivated {
  background-color: var(--error-red);
}
