.password {
  text-align: center;
}

main span {
  padding-right: 10rem;
}

.password input[type="password"],
.password input[type="text"] {
  border: none;
  background: white;
  padding: 14px 10px;
  width: 200px;
  display: inline-block;
  margin: 10px auto;
  text-align: left;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  outline: none;
}

label {
  font-size: 14px;
}

.password input[type="submit"] {
  border: none;
  color: #eeb7d5;
  border-radius: 24px;
  margin: 20px auto;
  padding: 14px 10px;
  width: 100px;
  background: white;
  cursor: pointer;
}

.password input[type="submit"]:hover {
  color: #eeb7d5;
  background: #7f88c0;
}
